/*----- Back to top -----*/
#back-to-top { /* Source: http://jsfiddle.net/gilbitron/Lt2wH/ */
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 64px;
    height: 64px;
    text-align: center;
    line-height: 65px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover {
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}
.table.create_schedule{
    table-layout: fixed;
}
.hidden{
    display:none;
}
/*----- Back to top -----*/